[Unit]
Description=jenkins-master
After=network.target

[Service]
User=ec2-user
Type=oneshot

# Replace path to scripts if needed
WorkingDirectory=/home/ec2-user/cloud-infra/devops/jenkins/jenkins-master
ExecStart=/home/ec2-user/cloud-infra/devops/jenkins/jenkins-master/up.sh
ExecStop=/home/ec2-user/cloud-infra/devops/jenkins/jenkins-master/down.sh

RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
